.movieCard{
    width: 18%;
    margin: 5px;
    padding: 10px;
    background-color: #343536;
    filter:brightness(100%)
}

.movieCard :hover {
    filter:brightness(110%)
    
}

.movieCard img {
    width: 100%;
}

.movieCard h3 {
    color: white;
    font-family: sans-serif;
}

.viewMore{
    cursor:pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.contenedorDetalleFav{
    display: flex;
    justify-content: space-between;
}