.movieCard {
    width: 18%;
    border-radius: 5%;
    margin: 10px 0;
}

.movieCard :hover {
    filter: brightness(110%);
}

.movieCard img {
    width: 100%;
    border-radius: 5% 5% 0 0;

}

.movieCard h3 {
    color: white;
    font-size: 1em;
    margin: 15px 0px;
}

.movieCard p {
    color: white;
    margin: 10px 0px;
}



.contenedor1 {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.viewMore {
    cursor: pointer;
}

.show {
    display: block;
}

.contenedorDetalleFav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.contenedorDetalleFav p{
    cursor: pointer;
}

@media (max-width: 768px) {
    .movieCard {
        width: 48%;
    }

}

/*Celulares*/
@media (max-width: 420px) {
    .movieCard {
        width: 95%;
    }

    .movieCard h3 {
        font-size: 1.5em;
        margin: 10px;
    }

}