/*----------------------
  Footer Section
------------------------*/

.footer-section {
	padding: 18px 0 16px;
	overflow: hidden;
	background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
	bottom:0;
	width: 100%;
}

.footer-menu {
	list-style: none;
	float: right;
    margin: auto;
    padding: 0%;
	display: flex;
	justify-content: space-between;

}


.footer-menu li a {
    text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	padding: 10px;
	font-family: sans-serif;
}

.footer-menu li a:hover {
	color: #00C2CB;
}

.copyright {
	float: left;
	margin-bottom: 0;
    font-size: small;
	font-weight: 300;
	color: #aeaeae;
	margin-top: 10px;
	font-family: sans-serif;
}

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
   
}    

/*Celulares*/
@media (max-width: 420px){ 

  .footer-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .footer-menu li a {
	margin-left: 0%;
  }
}
