.formFiltro {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.formFoto {
    size: 10px;
}

  ::placeholder {
   font-family: Optima, sans-serif;
}

form input {
    border-radius: 5px;
}