.formFiltro {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.formFoto {
    size: 10px;
}

form {
    display: flex;
    width: 100%;
}

  ::placeholder {
   font-family: sans-serif;
}

form input {
    border-radius: 5px;
}

.filt {
    color:white;
}