.card-containerCarte {
    color: black;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 18%;
    background-color: #00C2CB;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}
.card-containerCarte img{
    max-width: 100%;   
    border-radius: 5px;
}
.card-containerCarte:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.card-containerCarte p {
    margin: 6px;
}
.card-containerCarte h3 {
    margin: 10px;
}
.masCarte{
    color: black;
    text-align: right;
    font-weight: bold;
    margin: 5px;
}
.card-containerCarte div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px){
    
    .card-containerCarte {      
        width:48%;
    }    

}

@media (max-width: 420px){ 

    .card-containerCarte {
        font-size: 15px;
        width: 80%;
    } 
    .card-containerCarte img{
        max-width: 200px;   
    }   

}