body {
    background-color: #010369;
}

.flechas {
    display: flex;
    justify-content: center;
}

.gifcargando { 
    text-align: center;
}
 /*Ver despues*/

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
    
    .gifcargando {
        display: inline;
        width: 70%;
    }

}    

/*Celulares*/
@media (max-width: 420px){ 
    .gifcargando {
        display: inline;
        width: 70%;
    }

}
