.header-section {
	background: black;
	clear: both;
	overflow: hidden;
    display: flex;
    align-items: center;
	padding: 1%;
}

.site-logo {
    width: 12%;
	margin-left: 20px;
}

.main-menu {
    padding: 5px;
	width: 75%;
	display: flex;
	justify-content: center;
}


.main-menu .nav {
	list-style: none;
    display: flex;
	width: 70%;
	justify-content: space-around;
    
}

.main-menu .nav li  {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 5px;
	font-weight: 500;
	padding: 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	
}


.main-menu .nav li:hover {
	color: #00C2CB;
}

.menu{
	display:none;
}


.mostrar {
	display: block;
}

.ocultar {
	display: none;
}

/*Media queries*/
/*Tablets*/
@media (max-width: 768px){
	.site-logo {
		width: 20%;
	}

	.main-menu .nav {
		width: 100%;
	}

	
	

	.main-menu .nav li  {
		font-size: 14px;
	}

	
}    

/*Celulares*/
@media (max-width: 420px){ 

	.site-logo {
		width: 55%;
		justify-content: center;
	}

	.menu{
		display:block;
		color: white;
	}

	.header-section{
		flex-direction: column;
		justify-content: center;
	}

	/* .main-menu .nav {
		
		display: none;
		margin-right: auto;
		justify-content: flex-end;
		flex-wrap:  wrap;
		align-items: center;
	}
     */
}